.loginWrapper{
    background-image:linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)), url("https://images.pexels.com/photos/2180090/pexels-photo-2180090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    margin-top: 60px;
}

.registerBtn{
margin-top: 60px;
margin-left: 90%;
padding: 5px 10px;
border: none;
background-color: rgb(221, 70, 123);
color: white;
border-radius: 5%;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;;
    gap:30px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:30px;
}

.email>input{
    height:30px;
    width:250px;
    border-radius: 10%;
}

.password>input{
    height: 30px;
    width:250px;
    border-radius: 10%;
}

.loginForm>button{
    padding: 10px 15px;
    width:250px;
    border: none;
    color: white;
    background-color: teal;
    border-radius: 5%;
}